<section class="container-footer">
  <div class="container-footer__footer">
    <div class="container-footer__footer-column1">
      <h5>Teckoo- Top Global Online Electronic Ecommerce Platform</h5>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore sequi
        repellat quo deserunt voluptatibus voluptatum.
      </p>
      <p>
        <i class="fa fa-home" aria-hidden="true"></i>9599 Homestead Street
        Eastake, NYC
      </p>
      <p>Hotline 24/7:</p>
      <h6>(+965) 7492-4277</h6>
      <p></p>
    </div>
    <div class="container-footer__footer-column2">
      <h5>Useful Links</h5>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
      </p>
    </div>
    <div class="container-footer__footer-column3">
      <h5>Customer Service</h5>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
      </p>
    </div>
    <div class="container-footer__footer-column4">
      <h5>Sell on Teckoo</h5>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
      </p>
    </div>
  </div>
</section>
