<div class="topbar__market-logo">My MarketPlace</div>
<div class="topbar__market-input">
  <input
    type="text"
    class="topbar__input-field"
    placeholder="Estoy buscando ..."
  />
</div>
<div class="topbar__market-contact">
  <span>Contact Support</span>
  <span>(+57) 300 367 6782</span>
</div>
<div class="topbar__market-shops">
  <div class="topbar__market-cart-and-notifications">
    <i class="fa fa-shopping-cart" (click)="openShopCartResume()" (clickOutSide)="closeOptions($event)"></i>
    <span class="bubble" *ngIf="setNotification > 0">{{
      setNotification
    }}</span>
    <div class="topbar__market-resume" *ngIf="toggleShopCartResume">
      <h3>Resumen de Carrito</h3>
      <hr />
      <ul>
        <ng-container *ngFor="let product of listProducts">
          <li *ngIf="product !== null">
            <span>{{ product?.title }}</span>
            <span>{{ product?.price | currency }}</span>
            <span><i class="fa fa-close" (click)="removeElement(product)"></i></span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <span>{{ totalPrice | currency }} (USD)</span>
</div>
