.search {
  input {
    background-color: $gray100;
    border: 1px solid $gray100;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    height: 40px;
    outline: none;
    margin-left: 47px;
    font-size: 14px;
  }
}